<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accident CHAD</title>
    <link rel="stylesheet" href="static/dist/css/style.css">
</head>

<body>
    <div>
        <nav>
            <ul>
               <a href="#"><li>Home</li></a> 
                <a href="user_index"><li>User</li></a>
                <a href={{type1}}><li>{{type}}</li></a>
                <a href="sign_up"><li>SignUp</li></a>
            </ul>
        </nav>
    </div>
    <div style="padding-top: 90px;"></div>

    <main>
    <section>
        <div class="content1">
            <h1 style="padding:10px 10px"><bigtitle>Automatic Car Accident Detection and Alert System</bigtitle></h1>
            <p class="padd">Accident Panic Button uses a unique technology using Arduino and IoT to create a device which uses 
                Accelerometer and GPS to get the location of the vehicle that is a potential victim of an <red>Accident</red>.</p>
        </div>    
            <img src="{{url_for('static', filename='iot.png')}}" style="width: 1800px;
            height: 400px;" alt="img1">
    </section>
    <hr style="width:90%; margin-left:60px"></hr>

    <section1>
        <div class="content2">
            <img src="http://www.sosmartapp.com/uploads/4/5/9/9/45991051/7656298.png?295" style="width: 350px; height: 400px;" alt="img2;">
            <div class="padd1">
                <h2 style="font-size: 30px;"><bigtitle>Manual or Automatic Mode</bigtitle></h2>
                <br>
                <!-- <br> -->
                <p>SOSmart car accident service can be configured in manual mode or automatic mode.
                   <br> 
                   <br>
                   <br>
                    Automatic mode: Whenever SOSmart detects you are in a moving vehicle, it will automatically turn on the crash detection monitoring, allowing you to absolutelly forget about the app. Recommended for people that frequently travels in a vehicle.
                    <br>
                    <br>
                    <br>
                    Manual mode: User must manually turn the monitoring system in the app. Recommended for people who rarely travels in a moving vehicle
                </p>
            </div>
        </div>
        <hr style="width:90%; margin-left:60px"></hr>
    </section1>

    <section2>
        <div class="content3">
            <h2 style="padding: 0px 10px;"><bigtitle>Effective emergency notification</bigtitle></h2>
            <br>
            <p style="padding:10px 10px">
                No matter what your emergency contacts are doing, SOSmart will start a loud alarm which will call their atention . This alarm will only happen if your contacts have SOSmart installed
            </p>
        </div>
        <img src="http://www.sosmartapp.com/uploads/4/5/9/9/45991051/8281233.png?397" alt="img3;" style="border: 1px solid rgb(131, 128, 128); padding:5px;">
       
    </section2>
    <hr style="width:90%; margin-left:60px"></hr>

    <section3>
        <div class="content4">
            <img src="http://www.sosmartapp.com/uploads/4/5/9/9/45991051/1745376.png?360" alt="img4;">
            <div class="text">
                <h2><bigtitle>Panic Button</bigtitle></h2>
                <br>
                <p>
                    For any other emergency SOSmart has a panic button which when pressed, sends an emergency notification with your location to emergency contacts. and associated institutions.
                </p>
            </div>
        </div>
        <hr style="width:90%; margin-left:60px"></hr>
    </section3>

    <section4>
        <div class="content5">
            <h2><bigtitle>Algorithm based on real car crash data</bigtitle></h2>
            <br>
            <p>
                Our professional and sofisticated algorithm has been designed using real car crash data from the National Highway Traffic Safety Administration. Using this data our algorithm can differentiate when you drop your phone, brake too hard or had a minor accident avoiding false alarms
            </p>
        </div>
        <hr style="width:90%; margin-left:60px"></hr>
    </section4>

    <section5>
        <div class="content6">
        <img src="http://www.sosmartapp.com/uploads/4/5/9/9/45991051/7994728.png?455" alt="img5" onclick="LogCookies()">
        <div class="text">
            <h2><bigtitle>Find Nearby Hospitals</bigtitle></h2>
            <br>
            <p>
                In emergencies receiving medical atention on time can make the difference. SOSmart no matter where in the world you are, will show you a list of nearby hospitals and show you directions to get there as quick as possible
            </p>
        </div>
    </div>
    <hr style="width:90%; margin-left:60px"></hr>
    </section5>

    <section6>
        <h2 style="text-align: center; font-size: 40px; word-spacing: 3px;"><bigtitle>Real time monitoring platform for institutions</bigtitle></h2>
        <br>
        <br>
        <p style="font-size:30px; word-spacing:3px; padding-left: 60px;">SOSmart offers a web platform which allows institutions to monitor emergencies 24 hours a day, 7 days a week  anywhere in the world.</p>
        <br>
        <br>
        <img src="http://www.sosmartapp.com/uploads/4/5/9/9/45991051/5321869.png?688" alt="img6" style="border:1px solid blue;">
        <br>
        <br>
        <p style="font-size: 30px; word-spacing:3px;padding-left:60px;">
            Offer your clients and employees safety and security using our web platform at  very convenient prices. For further information please contact us.
        </p>
    </section6>

</main>
</body>

<script>
function logCookies(cookies) {
  for (const cookie of cookies) {
    console.log(cookie.value);
  }
}

browser.cookies
  .getAll({
    name: "session",
  })
  .then(logCookies);

// "do not tell you"
    const [red, green, blue] = [70, 100, 225]
    const body = document.querySelector('body')

    window.addEventListener('scroll', () => 
    {
        const y = 1 + (window.scrollY || window.pageYOffset) / 1000
        const [r, g, b] = [red/y, green/y, blue/y].map(Math.round)
        body.style.backgroundColor = `rgb(${r}, ${g}, ${b})`
    })
</script>

</html>